<div class="reset-wrapper">

  <div class="reset-card">

    <h2 class="title">
      Reset Password
    </h2>

    <!-- Email -->

    <input
      [(ngModel)]="email"
      placeholder="Email Address"
      class="form-input">

    <div
      *ngIf="emailError"
      class="field-error">

      {{ emailError }}

    </div>

    <!-- New Password -->

    <input
      [(ngModel)]="newPassword"
      type="password"
      placeholder="New Password"
      class="form-input">

    <div
      *ngIf="passwordError"
      class="field-error">

      {{ passwordError }}

    </div>

    <!-- Confirm Password -->

    <input
      [(ngModel)]="confirmPassword"
      type="password"
      placeholder="Confirm Password"
      class="form-input">

    <div
      *ngIf="confirmPasswordError"
      class="field-error">

      {{ confirmPasswordError }}

    </div>

    <!-- Button -->

    <button
      (click)="resetPassword()"
      class="update-btn"
      [disabled]="isLoading">

      {{
        isLoading
          ? 'Updating...'
          : 'Update Password'
      }}

    </button>

    <!-- API Error -->

    <div
      *ngIf="errorMessage"
      class="error-message">

      {{ errorMessage }}

    </div>

    <!-- Success -->

    <div
      *ngIf="successMessage"
      class="success-message">

      {{ successMessage }}

    </div>

  </div>

</div>